{% extends "base.html" %}

{% block content %}
<div class="posts">
    {% if error %}
        <h2 class="post-title">没有相关文章题目</a></h2>
    {% else %}
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h4 class="post-title"><a class = "hover" href="{% url "detail" id=post.id %}">{{ post.title }}</a><br/> &#10;

                    <p class="post-meta">{{ post.pub_date |date:"Y /m /d"}}&nbsp; &nbsp; &nbsp; &nbsp; <a class="hover" href="{% url "search_tag" tag=post.category %}">{{ post.category }}</a>
                    </p> </h4>
            </header>
        </section>
    {% endfor %}
    {% endif %}
</div><!-- /.blog-post -->
{% endblock %}
