{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/1.css" type="text/css" />

<div class="posts">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
            <h3 class="div-inline">{{ post.pub_date |date:"Y M d"}}</h3>
                <h2 class="div-inline text-c ml-30"><a class ="hover" href="{% url "detail" id=post.id %}">{{ post.title }}</a></h2>
                <div class="mt-10"></div>


            </header>

<!--                 <div class="post-description">
                    <p>
                        {{ post.content|truncatewords:10 }}
                    </p>
                </div>
                <a class="pure-button" href="{% url "detail" id=post.id %}">Read More >>> </a> -->
        </section>
    {% endfor %}

    <!-- {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
      <div class="">
      
      {%if post_list.has_previous and post_list.has_next %}
        <li class="div-inline "><a class="hover" href="?page={{ post_list.previous_page_number }}">上一页</a></li>
        <li class="div-inline bl-10"><a  class="hover" href="?page={{ post_list.next_page_number }}">下一页</a></li>
      {% endif %}

      {% if post_list.has_previous and not post_list.has_next %}
        <li class="div-inline "><a class="hover" href="?page={{ post_list.previous_page_number }}">上一页</a></li>
         <li class="div-inline bl-10"><a  class="hover" href="#">下一页</a></li>
      {% endif %}

      {% if post_list.has_next and not post_list.has_previous %}
      <li class="div-inline "><a class="hover" href="#">上一页</a></li>
        <li class="div-inline bl-10"><a  class="hover" href="?page={{ post_list.next_page_number }}">下一页</a></li>
      {% endif %}
      
      </div>
    {% endif %} -->
</div><!-- /.blog-post -->
{% endblock %}












